<form action="/category/edit/{{categories._id}}" method="post" class="register">
    <center><h1>Edit category</h1></center>
    <label for="">Category Name: </label>
    <input type="text" name="categoryName" value="{{ categories.categoryName }}">
    <label for="">Descriptions: </label>
    <input type="text" name="description" value="{{ categories.description }}">
    <input type="submit" value="Edit">
</form>