
<div class="container text-center col-md-6">
    <form action="/supplier/add" method="post" class="register" class="register">
        <h1 class="text text-primary text-uppercase">Add new supplier</h1>

        <label for="">Supplier Name: </label>
        <input class="form-control"type="text" name="supplierName">

        <label for="">Contact Number: </label>
        <input class="form-control" type="number" name="phone">

        <label for="">Email: </label>
        <input class="form-control" type="text" name="email">

        <label for="">Address: </label>
        <input class="form-control" type="text" name="address">

        <label for="">Description: </label>
        <input class="form-control"type="text" name="description">
        
        <input type="submit" value="Add">
    </form>
</div>